extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
    .grid-x
    .cell.small-12.medium-9.large-9
      h1 Projects 
    .card
      .card-header
        h2 CodeSprint 
      .card-body
        p CodeSprint is a collaborative coding platform that allows developers to participate in coding challenges, improve their skills, and compete with peers. It offers a wide range of programming problems and real-time coding evaluations.
    .card
      .card-header
        h2 FoodFusion
      .card-body
        p  FoodFusion is a recipe discovery and meal planning platform that helps users explore diverse cuisines and create personalized meal plans. It offers recipe recommendations based on dietary preferences, cooking skills, and nutritional needs.
